/**
 * Ronijan
 * version 1.0.0
 * 2021
 * https://github.com/ronijan/cookie-banner
 */

body {
    font-family: serif;
}

.ro-container {
    font-family: 'system-ui', 'serif', 'sans-serif';
    width: 385px;
    height: 215px;
    background: #fcfcfc;
    float: right;
    position: fixed;
    right: 10px;
    bottom: 10px;
    box-shadow: 1px 2px 3px 0 #aeaeae;
    user-select: none;
    color: #454545;
    display: none;
}

.ro-font-size {
    font-size: 15px;
}

.ro-row {
    width: auto;
    padding: 10px;
}

.ro-btn-accept {
    padding: 7px 43%;
    background: #f1f1f1;
    color: #454545;
    border-radius: 0;
    cursor: pointer;
    border: 1px solid #9c9c9c;
}

.ro-btn-accept:hover {
    background: #eae9e9;
    border: 1px solid #a1a0a0;
}

.ro-pr {
    margin-right: 15px;
}

.ro-mb {
    margin-bottom: 15px;
}

@media (max-width: 576px) {
    .ro-container {
        width: 100%;
        height: 244px;
        right: 0;
        bottom: 0;
    }

    .ro-text-center {
        text-align: center;
    }

    .ro-pr {
        margin-right: 8px;
    }
}